<html>
<head>
  <title>Clubfest App</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "clubfest1.css" %}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200">
</head>
<body>
  <h1>Index of Clubs</h1>
  <a href="/" class="btn">Home</a>
  <ul class="clubList">
    {% for club in club_list %}
      {% if club.0 %}
        <li><a href="/{{ club.0 }}">{{ club.1 }}</a></li>
      {% else %}
        <li>{{ club.1 }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</body>
</html>
