<html>
<head>
  <title> Clubfest App</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "clubfest1.css" %}">
</head>
<body>
<h1>Clubfest Map</h1>
<h1>Search Clubs</h1>
{% if highlighted_club %}
  <form action="/{{highlighted_club}}" method="get">
     {% csrf_token %}
     {{form2}}
     <input type="submit" value="Search">
  </form>
{% endif %}
<h2 class="exit1">Statler Exit</h2>
<h2 class="entrance1">Teagle Entrance</h2>
<p class="p1">Performance Area</p>
{% if map %}
  <table class="table">
    {% for table_row in map %}
      <tr>
        {% for table in table_row %}
          {% if table.0 == selected_table %}
            <td id="table-{{ table.0 }}" class="selected {{ table.1 }}">
                <p class="highlight"><b>{{ table.0 }}</b></p>
            </td>
          {% else %}
            <td id="table-{{ table.0 }}" class="{{ table.1 }}">
              {% if table.0 %}
              <p class="clickable"> <a href="{{ table.0 }}">{{ table.0 }}</a></p>
              {% else %}
                <p class="noid">_</p>
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}

  </table>
  {% if club %}
    <div id='class-descr'>
      <h3>{{ club.club_name }}</h3>
      <p>{{ club.category }}</p>
    </div>
  {% endif %}
  {% if selected_table %}
    <form id='club-id-form' action="/{{ selected_table }}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Save">
    </form>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
  {% endif %}
{% else %}
  <p>No map loaded</p>
{% endif %}
</body>

</html>
