<html>
<head>
  <title> Clubfest App</title>
</head>
<body>
<h1>Search Clubs</h1>
{% if highlighted_club %}
  <form action="/{{highlighted_club}}" method="get">
     {% csrf_token %}
     {{form2}}
     <input type="submit" value="Search">
  </form>
{% endif %}
<h1>Map</h1>
{% if map %}

  <table>
    {% for table_row in map %}
      <tr>
        {% for table in table_row %}
          {% if table == selected_table %}
            <td id="{{ table.0 }}" class="{{ table.1 }} selected">
                <b>{{ table.0 }}</b>
            </td>
          {% else %}
            <td id="{{ table.0 }}" class="{{ table.1 }}">
              {% if table.0 %}
              <a href="{{ table.0 }}">{{ table.0 }}</a>
              {% else %}
                _
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}

  </table>
  {% if club %}
    <div id='class-descr'>
      <h3>{{ club.club_name }}</h3>
      <p>{{ club.category }}</p>
    </div>
  {% endif %}
  {% if selected_table %}
    <form action="/{{ selected_table }}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Save">
    </form>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
  {% endif %}
{% else %}
  <p>No map loaded</p>
{% endif %}
</body>

</html>
