<html>
<head>
  <title>Clubfest App</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "clubfest1.css" %}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200">
</head>
<body>
  <h1>Map Builder</h1>
  {% if map %}
    <table class="table">
      {% for table_row in map.tables %}
        <tr>
          {% for table in table_row %}
            {% if table %}
              <td id="{{ table }}" class="unassigned">
                X
              </td>
            {% else %}
              <td id="{{ table }}">
                <a href="/mapgen/{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">_</a>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <a href='/' class='btn'>Home</a>
</body>
</html>
