<html>
<head>
  <title>Clubfest App</title>
</head>
<body>
  <h1>Map Builder</h1>
  {% if map %}
    <table>
      {% for table_row in map.tables %}
        <tr>
          {% for table in table_row %}
            <td id="{{ table }}">
              {% if table %}
                X
              {% else %}
              <a href="/mapgen/{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">_</a>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <a href='/'>Home</a>
</body>
</html>
