<html>
<head>
  <title> Clubfest App</title>
</head>
<body>
<h1>Search Club</h1>
{% if club %}
    <form>
    Club name: <input type="text" name="club_name"><br>
    Club category: <select name="category">
                      {% for (k,v) in club.CATEGORY_CHOICES %}
                      <option value="{{k}}">{{v}}</option>
    <br>
    <input type="submit" value="Search">
    </form>
<h1>Map</h1>
{% if map %}
  <table>
    {% for table_row in map.tables %}
      <tr>
        {% for table in table_row %}
          {% ifequal table selected_table %}
            <td id="{{ table }}" class="selected">
                <b>{{ table }}</b>
            </td>
          {% else %}
            <td id="{{ table }}">
              {% if table %}
              <a href="{{ table }}">{{ table }}</a>
              {% else %}
                _
              {% endif %}
            </td>
          {% endifequal %}
        {% endfor %}
      </tr>
    {% endfor %}

  </table>
{% else %}
  <p>No map loaded</p>
{% endif %}
</body>

</html>
