.highlight{
	background-color:#f26c63;
	color:black;
}
/* #table-1, #table-2, #table-3, #table-4, #table-5, #table-6, #table-7, #table-8, #table-9{
	background-color: #ffb05a;
} */
.clickable{
	color: red;
}

td {
	height: 5%;
	width: 5%;
  padding: 0.25em 0.5em;
}
.table{
     background-color: #34495e;
    width: 80%;
    text-align: center;
    margin: auto;
}
h1{
	background-color: #f26c63;
	text-align: center;
  font-family: Raleway;
}
h2{
  font-family: Raleway;
}
.p1{
	font-family: Raleway;
    background-color: #34495e;
    text-align: center;
    color: white;
    margin: auto;
    width: 30%;
    margin-top: 15%;
    font-size: 125%;
}
.exit1{
	font-family: Raleway;
	float: left;
	margin-top: 10%;
	padding: 1%;
	/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.entrance1{
	font-family: Raleway;
	float: right;
	margin-top: 10%;
	padding: 1%;
	/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
#class-descr{
	text-align: center;
}
#club-id-form{
	text-align: center;
}
p{
  font-family: Raleway;
}
.admin{
	float: right;
	margin-right: -10%;
}
.add{
	font-family: Raleway;
	border: none;
	background: #ffb05a;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
	text-decoration: none;
}
.add:hover{
	font-family: Raleway;
	background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #ffb05a;
}
.upload{
	font-family: Raleway;
	border: none;
	background: #ffb05a;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
	text-decoration: none;
}
.upload:hover{
	font-family: Raleway;
	background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #ffb05a;
}
.pic1{
	margin-top: 2.5%;
    margin-right: -29%;
    margin-left: 7%;
    float: left;
    width: 2.5%;
}
.pic2{
	margin-top: 2.5%;
    margin-left: -39%;
    margin-right: 10%;
    float: right;
    width: 2.5%;
}
label{
	font-family: Raleway;
}
#catg1{
	margin-top: -2.5%;
    float: left;
    margin-left: 5%;
    padding: 5%;
    font-family: Raleway;
}
#catg2{
	margin-top: -4%;
    float: right;
    margin-right: 5%;
    padding: 5%;
    font-family: Raleway;
}
.sprt{
  background-color: #ffb05a;
}
.buzz{
  background-color: #86ecff;
}
.arts{
  background-color:  #f2f679;
}
.othr{
  background-color:  #0f6f9a;
}
.unassigned{
  background-color: #d2d4d6;
}
