.clickable{
	color: red;
}
td a {
  color: black;
  text-decoration: none;
}
td {
	height: 5%;
	width: 5%;
  padding: 0.25em 0.5em;
}
#navbar{
  padding-bottom: 1%;
}
.table{
     background-color: #34495e;
    width: 80%;
    text-align: center;
    margin: auto;
}
h1{
	background-color: #f26c63;
	text-align: center;
  font-family: Raleway;
}
h2{
  font-family: Raleway;
    text-align: center;
    background-color: #f26c63;
    height: 15%;
    font-size: 300%;
}
h4{
color: white;
background-color: #34495e;
}
body {
	font-family: Raleway;
}
.p1{
	font-family: Raleway;
    background-color: #34495e;
    text-align: center;
    color: white;
    margin: auto;
    width: 30%;
    margin-top: 20%;
    font-size: 185%;
}
.exit1{
	font-family: Raleway;
    float: left;
    margin-top: 40%;
    padding: 1%;
	/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.entrance1{
	font-family: Raleway;
    float: right;
    margin-right: -1%;
    margin-top: 40%;
    padding: 1%;

	/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#club-id-form{
	text-align: center;
}
p{
  font-family: Raleway;
}
.links{
  display: inline-block;
  float: left;
}
.admin{
  display: inline-block;
  float: right;
}
.btn{
	font-family: Raleway;
	border: none;
	background: #ffb05a;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
	text-decoration: none;
}
.btn:hover{
	font-family: Raleway;
	background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #ffb05a;
}
.add{
	font-family: Raleway;
	border: none;
	background: #ffb05a;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
	text-decoration: none;
}
.add:hover{
	font-family: Raleway;
	background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #ffb05a;
}
.upload{
	font-family: Raleway;
	border: none;
	background: #ffb05a;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
	text-decoration: none;
}
.upload:hover{
	font-family: Raleway;
	background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #ffb05a;
}
.pic1{
	margin-top: 2.5%;
    margin-right: -29%;
    margin-left: 7%;
    float: left;
    width: 2.5%;
}
.pic2{
	margin-top: 2.5%;
    margin-left: -39%;
    margin-right: 24%;
    float: right;
    width: 2.5%;
}
label{
	font-family: Raleway;
}
#catg1{
	margin-top: -2.5%;
    float: left;
    margin-left: 5%;
    padding: 5%;
    font-family: Raleway;
}
#catg2{
	margin-top: -2.5%;
    float: right;
    margin-right: 5%;
    padding: 5%;
    font-family: Raleway;
}
#club-id-form{
	float: left;
	margin-top: －10%;
}
.form1{
	margin-left: 6%;
}
.msg{
	   width: 120%;
    margin-left: 45%;
    margin-top: -7%;
    font-size: 270%;
    background-color: #cecece;
    border-radius: 5px;
    padding: 5px;
}
.msg1{
	  margin-top: -15%;
    font-size: 150%;
    margin-left: 160%;
    text-align: center;
    width: 150%;
}
#class-descr{
	float: right;
}
.evnt{
  background-color: #cc8379;
}
.sprt{
  background-color: #ffb05a;
}
.spcl{
  background-color: #998f73;
}
.comm{
  background-color: #9ecc8e;
}
.buzz{
  background-color: #86ecff;
}
.rlgn{
  background-color: #f5a6da;
}
.cult{
  background-color: #784c99;
}
.arts{
  background-color:  #f2f679;
}
.chng{
  background-color: #0f6f9a;
}
.sci{
  background-color: #41993e;
}
.othr{
  background-color:  #41776f;
}
.unassigned{
  background-color: #d2d4d6;
}
.selected{
	background-color: #f26c63;
	color: black;
}
.clubList{
  list-style-type: square;
}
